@charset "utf-8";

.more_product {
	height: 50px;
	width: 200px;
}

.more_product .btn_load {
	line-height: 50px;
	font-size: 18px;
	width: 100%;
	color: #22577E;
}

.more_product a:hover {
	color: #F2789F;
}

.login_part .login_part_form h3 {
	margin-bottom: 40px;
}

.popular-items .single-popular-items .popular-img {
	border-bottom: 3px solid #FF5677;
}

.pd {
	padding-bottom: 60px !important;
}

.header-area .main-header .menu-wrapper .main-menu ul ul.submenu {
	width: 200px;
}

.single-popular-items mb-50 text-center {
	cursor: pointer;
}

.popular-items .single-popular-items .popular-img .img-cap.two {
	display: flex;
	justify-content: space-around;
}

.padding-all {
	padding: 30px 70px;
}

.popular-items .single-popular-items .popular-img .img-cap.two span:first-child
	{
	background: #B8E4F0;
}

.popular-items .single-popular-items .popular-img .img-cap.two span a {
	color: #161E54;
	font-size: 17px;
}

.popular-items .single-popular-items .popular-img .img-cap.two span:last-child
	{
	background: #FBD148;
}

.popular-items .single-popular-items .popular-img .img-cap.two span {
	width: 100px;
}

.select_filter {
	height: 48px;
	display: flex;
	align-items: center;
}

.box-shadown {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.single-popular-items .popular-caption span {
	color: #FF5F7E !important;
}

.form-group-search {
	display: flex;
	align-items: center;
}

.wrap-search-icon {
	position: relative;
	transform: translateX(-30px);
}

.popular-caption {
	display: flex;
	height: 170px;
	flex-direction: column;
	justify-content: space-between;
}

.product_image_area {
	margin-top: 0 !important;
}

.footer-area {
	background-color: #eaefec;
}

.popular-img {
	height: 298px;
}

.header-area .main-header .menu-wrapper {
	justify-content: space-around !important;
}

.header-right ul.submenu {
	display: block;
	position: absolute;
	width: 200px;
	background: #fff;
	left: 0;
	top: 90%;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 0 10px 3px rgb(0 0 0/ 5%);
	padding: 17px 0;
	border-top: 3px solid #ff2020;
	border-radius: 7px 7px 3px 3px;
	-webkit-transition: all .2s ease-out 0s;
	-moz-transition: all .2s ease-out 0s;
	-ms-transition: all .2s ease-out 0s;
	-o-transition: all .2s ease-out 0s;
	transition: all .2s ease-out 0s;
	position: absolute;
}

.header-right ul li:hover>ul.submenu {
	flex-direction: column;
}

.header-right .main-menu ul ul.submenu::before {
	border-style: solid;
	border-width: 0 6px 6px 6px;
	border-color: transparent transparent red transparent;
	content: "";
	top: -5px;
	left: 13%;
	position: absolute;
	transition: .3s;
	z-index: -1;
	overflow: hidden;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
}

.header-right  ul.submenu>li {
	margin-left: 7px;
	display: block;
}

.header-right  ul li {
	display: inline-block;
	position: relative;
	z-index: 1;
}

.header-right  ul.submenu>li>a {
	padding: 6px 10px !important;
	font-size: 16px;
	color: #0b1c39;
	text-transform: capitalize;
}

.header-right ul li:hover>ul.submenu::before {
	top: -8px;
}

.header-right ul ul.submenu::before {
	border-style: solid;
	border-width: 0 6px 6px 6px;
	border-color: transparent transparent red transparent;
	content: "";
	top: -5px;
	left: 13%;
	position: absolute;
	transition: .3s;
	z-index: -1;
	overflow: hidden;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
}

.header-right ul li:hover>ul.submenu {
	visibility: visible;
	opacity: 1;
	top: 250%;
}

.header-right ul ul.submenu>li>a {
	padding: 6px 10px !important;
	font-size: 16px;
	color: #0b1c39;
	text-transform: capitalize;
}

.header-right ul li.icon a {
	font-size: 16px;
	font-family: "Josefin Sans", sans-serif;
	color: #141517;
	font-weight: 600;
	padding: 41px 21px;
	display: inline-block;
	text-transform: capitalize;
	display: block;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
}

.header-right ul ul.submenu>li.icon>a:hover {
	color: #ff2020;
	background: none;
}

.header-right ul ul.submenu>li.icon>a {
	padding: 6px 10px !important;
	font-size: 16px;
	color: #0b1c39;
	text-transform: capitalize;
}

.table tbody tr td.product-remove a:hover {
	border: none !important;
}

.table tbody tr td.product-remove a:hover i {
	color: #F05454;
}

.number-input {
	border: 1px solid #ced4da !important;
	border-radius: 0.25rem !important;
	display: flex;
	justify-content: space-around;
}

.number-input button {
	width: 3.5rem;
	border: none !important;
}

.number-input input[type=number] {
	max-width: 3rem;
	padding: 0.5rem;
	border: 1px solid #ced4da;
	border-width: 0 1px;
	font-size: 1rem;
	height: 2rem;
	color: #495057;
}

.number-input button:before, .number-input button:after {
	width: 0.7rem;
	background-color: #495057;
}

.number-input button:before, .number-input button:after {
	display: inline-block;
	position: absolute;
	content: '';
	height: 2px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.number-input button:before, .skin-light-2 .number-input button:after {
	width: 0.7rem;
	background-color: #495057;
}

.number-input button:before, .number-input button:after {
	display: inline-block;
	position: absolute;
	content: '';
	height: 2px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.number-input input[type=number] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
	text-align: center;
}

.number-input input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
}

.number-input button:before, .number-input.number-input button:after {
	width: 0.7rem;
	background-color: #495057;
}

.number-input button:before, .number-input button:after {
	display: inline-block;
	position: absolute;
	content: '';
	height: 2px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.number-input button.plus:after {
	-webkit-transform: translate(-50%, -50%) rotate(90deg);
	transform: translate(-50%, -50%) rotate(90deg);
}

.number-input button:before, .number-input button:after {
	display: inline-block;
	position: absolute;
	content: '';
	height: 2px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.number-input button {
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
	margin: 0;
	position: relative;
	outline: none;
}

.name-product {
	white-space: nowrap;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.name-wrap {
	display: flex;
	justify-content: space-between;
}

.list_title {
	font-size: 14px;
	color: #828bb2;
	font-weight: normal;
	border-bottom: 1px solid #eeeeee;
	display: block;
	line-height: 42px;
}

.list_title span {
	float: right;
}

.btn_3 {
	cursor: pointer;
}